@use '../../utils/variables' as *;
@use '../../utils/mixins' as mix;

// Reset some styles inherited from popup.scss
.popup > .list {
    padding: 0;

    & ~ .popup-close {
        color: var(--clr-dark-100);
    }
}

// Main styles
.list {
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mix.mq(small) {
        min-height: 550px;
        width: 400px;
    }

    background-color: var(--clr-dark-100);

    &__header {
        position: relative;
        z-index: 1;
        padding: 1rem 1.5rem;
        max-height: 68px;
        border-radius: 0;
        box-shadow: $bs-header-short;

        @include mix.mq(small) {
            border-top-left-radius: $br-global;
            border-top-right-radius: $br-global;
        }
    }

    &__title {
        align-items: center;
        gap: 0.5em;
        margin-right: 3.5rem;
        font-size: 1.3rem;
        color: var(--clr-dark-100);

        & button {
            display: flex;
            align-items: center;
            color: inherit;
        }
        & > form {
            display: flex;
        }
        & .input-title {
            background: none;
            border: none;
            width: 100%;
            text-align: start;
            color: var(--clr-dark-100);
            transition: none;

            &:focus-visible {
                outline: none;
                border-bottom: 2px solid var(--clr-dark-100);
            }
            &.error {
                background-color: var(--clr-danger-100);
            }
        }
    }

    main {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -60%);
        width: 200px;
        border-radius: 50%;
        filter: opacity(0.12);
    }

    &__todos {
        max-height: 70vh;
        overflow-y: auto;
        box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
    }

    &__form-bg {
        position: absolute;
        inset: 0;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.2);

        &.show-form-bg {
            opacity: 1;
            visibility: visible;
        }
    }
    &__form {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.3rem;
        width: calc(min(420px, 100%));
        height: 130px;
        padding: 2.5rem;

        border-radius: 0;
        background-color: white;
        box-shadow: $bs-header;

        @include mix.mq(small) {
            border-bottom-left-radius: $br-global;
            border-bottom-right-radius: $br-global;
        }

        @include mix.mq(small) {
            width: 100%;
        }

        &.show-form {
            transform: translateY(0);
        }

        &__btn-close {
            display: flex;
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            font-size: 2rem;
        }

        label {
            position: relative;
            display: flex;
            height: 100%;
            & > span {
                position: absolute;
                bottom: 0.2em;
                left: 0;
                transition: all 0.15s ease-out;
            }
            span.visited {
                transform: translateY(-1.7rem);
                font-size: 0.85em;
                color: var(--clr-dark-300);
            }
        }
        input {
            position: absolute;
            bottom: 0;
            width: calc(min(270px, 100%));
            height: fit-content;
            border: none;
            border-bottom: 3px solid var(--clr-dark-300);
            background-color: transparent;

            &:focus-visible {
                outline: none;
                border-color: var(--clr-secondary-400);
                background-color: white;
            }
        }

        &__submit {
            position: absolute;
            right: 1rem;
            bottom: 0;
            transform: translateY(40%);

            display: flex;
        }
    }

    &__btn-toggle-form {
        position: absolute;
        inset: auto 1.2rem 1.2rem auto;

        .btn-icon--plus {
            transition: transform 0.2s ease-out;
            &.active {
                transform: rotate(-45deg);
            }
        }
    }
}
